.result.big-content-box{
    height: auto;
    width: 80%;
}
.result .mainText{
    font-size: 25px;
}
.result .resultImage{
    max-width: 200px;
}

.result .submitBtn h5{
    color: rgba(255, 255, 255, 0.8);
}

.result .treeResult{
    max-width: 300px;
}