{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="{%static 'css/main.css'%}" />

    <title>환/파/자/테스트</title>
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>

  <footer>
    <p style="position: absolute; bottom: 0; color: rgba(0, 0, 0, 0.5)">
      Image copyright &copy; by https://pngtree.com/so/praying
    </p>
  </footer>
</html>
